<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Account</title>
</head>
<body>
    <p>Add Account Page!</p>
    <form method="post">
        <div>
            <label> Email : <input type="text" name="username"/></label>
        </div>
        <div>
            <label> Password : <input type="password" name="password"/></label>
        </div>
        <div>
            <label> First Name : <input type="text" name="firstName"/></label>
        </div>
        <div>
            <label> Last Name : <input type="text" name="lastName"/></label>
        </div>
        <div>
            <label> Role :
                <label for="customer"> Customer : <input type="radio" id="customer" name="role" value="ROLE_CUSTOMER"></label>
                <label for="employee"> Employee : <input type="radio" id="employee" name="role" value="ROLE_EMPLOYEE"></label>
            </label>
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
</body>
</html>