<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Delete Contract</title>
</head>
<body>
    <p>Contracts Deletion Page!</p>
    <form method="post">
        <div>
            <div>
                <label> Users :
                    <select name="contractId">
                            <option th:each="contract: ${contracts}" th:value="${contract.id}" th:text="${contract.name}"></option>
                    </select>
                </label>
            </div>
        </div>
        <div>
            <input type="submit" value="delete"/>
        </div>
    </form>
</body>
</html>